@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#inicio {
  background: black;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
}

.left-menu {
  background: #000000;

  color: #fff;
  font-size: 16px;
  font-weight: bold;

  width: 250px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 20px 0;
}

.left-menu ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.left-menu ul li a img {
  margin-bottom: 10px;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings svg {
  margin-right: 10px;
}

.content {
  /* background: #f5f6fa; */
  background: url("./assets/fundo.png");
  width: 100%;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 16px;
  margin: 0 20px;
  height: 132px;
}

.card-small {
  width: 240px;
  display: flex;
  align-items: center;
}

.card-large {
  width: 464px;
}

.card .card-content {
  display: flex;
}

.card .card-container {
  display: flex;
}

.cards-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card .card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}

.card .card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info p {
  font-size: 16px;
}

.card-info h2 {
  font-size: 54px;
  font-weight: bold;
  color: #ffba33;
}

.card-large .card-container .card-content:first-child {
  border-right: 1px solid #111111;
}

.table-planets {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 642px;
  height: 100%;

  padding: 30px;

  text-align: inherit;
}

.table {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 642px;
  height: 450px;

  padding: 30px;
  margin: 0 40px 0 0;

  text-align: inherit;
}

.table h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table table {
  margin-top: 30px;
  width: 100%;
}

td {
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0;
  text-align: left;
}

th {
  border-bottom: 1px solid #565656;
  padding: 10px 10px;
  text-align: left;
  width: 500px;
}

.content-info {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.chart {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 400px;
  height: 450px;

  border-radius: 16px;

  display: flex;
  align-items: center;
}

.card-info h4 {
  font-size: 18px;
  font-weight: bold;
  color: #ffba33;
  text-align: center;
  margin-bottom: 10px;
}

.card-container-people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);

  margin: 40px;
}

.card-content-people {
  background: url("./assets/fundo.png");
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 280px;
  height: 300px;

  margin: 20px 0;
}

.card-people {
  width: 93%;
  height: 93%;

  border: 1px solid #ffba33;
  box-sizing: border-box;
  border-radius: 16px;

  display: flex;
  justify-content: center;

  margin: 10px;
}

.card-info .subtitle-people {
  font-style: normal;
  font-size: 14px;
  line-height: 15px;

  color: #e5e5e5;

  padding: 5px;
}

.star-map {
  display: flex;
  justify-content: center;
}

.star-map img {
  border-radius: 50%;
  border: 2px solid #fff;

  width: 109px;
  height: 109px;

  margin-bottom: 25px;
}

.active a {
  color: #ffba33;
}

.table-planets h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-container-starship {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);

  margin: 40px;
}

.card-content-starship {
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  width: 280px;
  height: 300px;

  margin: 20px 0;
}

.card-starship {
  width: 93%;
  height: 93%;

  border: 1px solid #ffba33;
  box-sizing: border-box;
  border-radius: 16px;

  display: flex;
  justify-content: center;

  margin: 10px;
}

.card-info img {
  width: 109px;
  height: 109px;
}
